@import './reset.css';
#root { display: flex; flex-direction: column; width: 100%; height: 100%; min-height: 100vh; } 
.absolute-center { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } 
.header { padding: 0 10px; position: fixed; z-index: 1; width: 100%; height: 36px; background-color: #cbd3f0; } 
.header .config { padding: 10px; border: 0; width: 30px; height: 30px; background-color: transparent; background-image: url(./assets/icons/config.svg); background-repeat: no-repeat; background-position: center; background-size: 20px; font-size: 0; cursor: pointer; border-radius: 10px; } 
.header .config:hover { background-color: rgba(255, 255, 255, 0.3); } 
.header .config.open { background-color: rgba(255, 255, 255, 0.8); } 
.title { padding: 5px 10px; overflow: hidden; position: absolute; top: 0; left: 50%; z-index: 1; z-index: 1; height: 100%; background-color: #333; font-size: 1rem; color: #fff; text-align: center; letter-spacing: -1px; white-space: nowrap; cursor: pointer; transform: translateX(-50%); border-radius: 0 0 10px 10px; text-overflow: ellipsis; } 
.title::after { position: absolute; top: 7px; left: 8px; z-index: -1; width: 38px; height: 20px; background-color: #cf2164; transition: left 0.3s ease-in-out; content: ""; border-radius: 3px; } 
.title.flex::after { left: 8px; } 
.title.grid::after { left: 63px; } 
.aside { padding: 10px; overflow-x: hidden; overflow-y: overlay; position: fixed; top: 36px; left: 0; width: 280px; height: calc(100% - 36px); background-color: #e5eafb; transition: left 0.3s ease-in-out; } 
.aside.open { left: 0; } 
.aside.close { left: -280px; } 
.aside h2 label { background-color: #eee; cursor: pointer; } 
.aside h2 label:hover { background-color: #9e9e9e; color: #fff; } 
.aside .option-list { margin-top: 10px; } 
.aside .option-list li { display: flex; justify-content: space-between; } 
.aside .option-list li > * { width: 50%; } 
.aside .option-list li + li { margin-top: 5px; } 
.contents { display: flex; flex: 1; border-top: 1px solid #888; width: calc(100% - 280px); height: calc(100% - 33px); } 
.main { display: flex; justify-content: space-between; flex: 1; flex-direction: column; position: fixed; top: 36px; right: 0; width: 100%; height: calc(100% - 36px); transition: width 0.3s ease-in-out; } 
.main.aside-open { width: calc(100% - 280px); transition: width 0.3s ease-in-out; transform: translateX(0px); } 
.layout { margin: 10px; padding: 0; border: 1px solid #333; overflow-x: auto; overflow-y: auto; position: relative; width: calc(100% - 20px); height: calc(100% - 50px); background-color: #eee; } 
.layout.flex { display: flex; } 
.layout.grid { display: grid; } 
.layout .item { display: flex; align-items: center; justify-content: center; box-shadow: 0 0 0 1px #f4aab9; overflow: hidden; background-color: #fff; } 
.btn-wrap { display: flex; margin: 0 10px 10px; height: 50px; } 
.btn-wrap button { flex: 1; border: 0; min-width: 125px; background-color: transparent; background-color: #e5eafb; font-weight: 700; cursor: pointer; border-radius: 8px; } 
.btn-wrap button + button { margin-left: 10px; } 
.btn-wrap button:hover { background-color: #a1b2e9; } 
.btn-wrap button:disabled,
.btn-wrap button:disabled:hover { background-color: #eee; cursor: not-allowed; } 

@media screen and (max-width: 720px){
 .aside .option-list li { flex-direction: column; } 
 .aside .option-list li > * { width: 100%; } 
 }
